.container {
    background-color: #FEFEFE;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin: 50px auto;
}

h1 {
    color: #272F54;
}

.form-group {
    margin-bottom: 20px;
}

label {
    color: #272F54;
}

.custom-input {
    border: 1px solid #4F94E2;
    border-radius: 5px;
    padding: 6px 10px;
    color: #272F54;
}

.custom-input::placeholder {
    color: #9299A4;
}

.custom-button {
    background-color: #87C2EB;
    color: #FEFEFE;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

.custom-button:hover {
    background-color: #4F94E2;
}

p {
    color: #A22531;
}

/* CSS Adeverinta */
.print-container {
    background-color: #FEFEFE;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin: 20px;
}

.page-break {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.print-certificate-container {
    width: 49%;
    margin: 20px 0;
    font-family: "Times New Roman", Times, serif;
    line-height: 1.6;
}

.print-certificate-header {
    text-align: left;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.2;
}

.print-nr {
    text-align: right;
}

.print-certificate-content {
    text-align: justify;
    font-size: 14px;
}

.print-certificate-title {
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    margin: 25px 0 35px;
    display: block;
}

.print-certificate-footer {
    line-height: 1.2;
    margin-top: 40px;
    font-size: 14px;
}

@media print {
  .print-hide {
    display: none !important;
  }
}

.DateRangePicker {
    margin: 0 auto; /* Center the DateRangePicker horizontally */
}

.DateInput{
    width: 100px !important;
}

.DateInput_input{
    padding: 7px !important;
    font-size: 16px !important;
    text-align: center;
}

.DateRangePickerInput_arrow_svg {
    width: 20px !important;
}

.CalendarDay {
    border: none; /* Remove the border around each day */
    vertical-align: middle; /* Vertically center the day number in each cell */
}

.CalendarDay__selected, .CalendarDay__hovered_span, .CalendarDay__selected_span {
    background: #4CAF50; /* Change the background color of selected and hovered days */
    color: white; /* Change the text color of selected and hovered days */
}
